In [19]:
# Import Dependencies
import pandas as pd

In [20]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [21]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [22]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [23]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [33]:
# Merge the two DataFrames together based on the Dates they share
# inlcluded the outer parameter b/c not one-to-one data - he used len to calculate rows of each table
merge_table = pd.merge(bitcoin_df, dash_df, on="Date", how="outer", suffixes=("_Bitcoin", "_Dash"))
merge_table

,Date,Open_Bitcoin,High_Bitcoin,Low_Bitcoin,Close_Bitcoin,Volume_Bitcoin,Market Cap_Bitcoin,Open_Dash,High_Dash,Low_Dash,Close_Dash,Volume_Dash,Market Cap_Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,2.218280e+08,"7,279,520,000",298.590000,315.580000,278.170000,313.840000,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,3.135830e+08,"7,039,590,000",284.500000,301.230000,276.570000,298.860000,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,7.072310e+08,"6,126,800,000",236.050000,300.110000,220.510000,284.360000,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,2.574310e+08,"8,359,650,000",301.110000,303.740000,236.240000,236.240000,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,3.403440e+08,"8,445,540,000",324.720000,325.160000,287.250000,301.290000,28322500.0,"2,452,930,000"
5,12-Sep-17,539.03,559.22,505.01,510.41,2.738250e+08,"8,934,220,000",318.420000,328.600000,318.420000,325.970000,27190400.0,"2,404,680,000"
6,11-Sep-17,537.19,556.25,515.67,537.81,2.747120e+08,"8,902,570,000",322.020000,332.120000,315.910000,318.400000,25159900.0,"2,431,230,000"
7,10-Sep-17,546.48,546.75,484.09,537.07,2.895080e+08,"9,055,430,000",323.240000,323.240000,295.860000,320.110000,27435400.0,"2,439,780,000"
8,9-Sep-17,584.73,586.18,539.15,547.47,2.345780e+08,"9,688,150,000",334.950000,335.130000,313.690000,323.140000,23244600.0,"2,527,540,000"
9,8-Sep-17,654.37,687.30,557.50,583.10,8.097630e+08,"10,840,500,000",343.530000,368.170000,317.950000,333.210000,63012500.0,"2,591,570,000"
10,7-Sep-17,636.85,707.98,603.50,652.86,1.082380e+09,"10,548,500,000",346.450000,347.570000,333.800000,343.910000,24715700.0,"2,612,980,000"
11,6-Sep-17,541.28,642.69,539.96,638.18,6.932400e+08,"8,964,700,000",328.150000,348.450000,326.950000,347.170000,35294300.0,"2,474,300,000"
12,5-Sep-17,514.90,550.95,458.78,541.71,3.389780e+08,"8,527,100,000",316.880000,333.830000,286.530000,327.230000,53928800.0,"2,388,710,000"
13,4-Sep-17,608.26,608.26,500.75,517.24,3.289570e+08,"10,072,200,000",356.940000,357.210000,301.840000,316.130000,44170200.0,"2,689,920,000"
14,3-Sep-17,578.27,617.41,563.59,607.43,3.448620e+08,"9,574,520,000",354.630000,373.080000,338.230000,356.390000,34945200.0,"2,670,270,000"
15,2-Sep-17,621.96,642.05,560.58,575.90,3.504780e+08,"10,297,000,000",393.530000,395.920000,329.270000,350.170000,54813400.0,"2,962,400,000"
16,1-Sep-17,588.40,645.52,586.73,622.17,3.938390e+08,"9,740,460,000",377.920000,393.350000,376.340000,393.350000,55440700.0,"2,844,110,000"
17,31-Aug-17,576.25,603.69,572.14,588.17,2.981440e+08,"9,538,750,000",368.570000,380.340000,368.180000,378.320000,34978600.0,"2,773,030,000"
18,30-Aug-17,549.32,604.69,535.92,575.21,4.438560e+08,"9,092,300,000",359.590000,375.700000,358.690000,368.340000,44586300.0,"2,704,790,000"
19,29-Aug-17,596.13,599.30,528.32,552.93,3.700170e+08,"9,866,110,000",357.160000,367.340000,354.490000,359.550000,50014900.0,"2,685,760,000"
20,28-Aug-17,619.70,626.88,595.52,596.18,2.162730e+08,"10,254,800,000",362.500000,369.190000,351.240000,356.780000,57630700.0,"2,725,220,000"
21,27-Aug-17,625.89,654.87,589.63,620.90,4.027180e+08,"10,357,000,000",400.420000,400.630000,358.230000,362.890000,121516000.0,"3,009,530,000"
22,26-Aug-17,641.88,646.93,622.36,625.32,1.934140e+08,"10,616,100,000",315.280000,409.770000,315.280000,399.850000,267415000.0,"2,369,010,000"
23,25-Aug-17,627.06,665.41,624.30,641.05,3.486320e+08,"10,365,600,000",317.910000,320.650000,306.680000,315.890000,53632700.0,"2,388,160,000"
24,24-Aug-17,670.03,697.32,617.31,628.11,4.071770e+08,"11,071,100,000",292.960000,315.370000,291.190000,315.370000,58804500.0,"2,200,130,000"
25,23-Aug-17,690.96,715.67,651.32,669.40,5.019830e+08,"11,416,800,000",290.460000,299.140000,287.730000,292.570000,47798300.0,"2,180,790,000"
26,22-Aug-17,596.19,734.88,570.27,690.88,1.393260e+09,"9,844,620,000",280.290000,299.980000,260.530000,291.500000,74971200.0,"2,103,900,000"
27,21-Aug-17,723.70,756.59,573.47,599.63,1.123400e+09,"11,943,100,000",293.770000,300.520000,275.940000,279.580000,58023900.0,"2,204,480,000"
28,20-Aug-17,772.42,858.96,683.94,712.87,1.494020e+09,"12,742,600,000",288.200000,327.250000,287.820000,294.200000,107973000.0,"2,162,080,000"
29,19-Aug-17,697.04,1091.97,625.16,754.56,3.196230e+09,"11,498,100,000",224.670000,329.980000,224.670000,288.700000,220487000.0,"1,685,040,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,15-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.812077,0.816057,0.739031,0.791200,30817.0,"2,979,000"
1283,14-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.833380,0.846080,0.785160,0.811341,26274.0,"3,057,150"
1284,13-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.865569,0.895094,0.810772,0.833336,31123.0,"3,166,030"
1285,12-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.888208,0.953882,0.858214,0.865936,39530.0,"3,238,290"
1286,11-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.807598,0.922435,0.764712,0.891300,42234.0,"2,934,810"
1287,10-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.872114,0.912160,0.745242,0.810256,45946.0,"3,159,030"
1288,9-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.913189,0.958778,0.806353,0.872964,48781.0,"3,296,790"
1289,8-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.911867,0.953494,0.856860,0.914905,70281.0,"3,285,680"
1290,7-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,1.060000,1.100000,0.877912,0.877912,112877.0,"3,787,000"
1291,6-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,1.030000,1.050000,0.952003,1.050000,68896.0,"3,692,890"
1292,5-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.987192,1.070000,0.941151,1.030000,93138.0,"3,515,760"
1293,4-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,1.210000,1.210000,0.970883,0.987557,90550.0,"4,283,970"
1294,3-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,1.030000,4.400000,0.935749,1.210000,271197.0,"3,651,050"
1295,2-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.936036,1.080000,0.815903,1.030000,148259.0,"3,298,980"
1296,1-Mar-14,NaN,NaN,NaN,NaN,NaN,NaN,0.549616,1.070000,0.528973,0.937342,252311.0,"1,929,800"
1297,28-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,0.618662,0.625539,0.458697,0.550661,60517.0,"2,163,860"
1298,27-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,0.616643,0.742251,0.549852,0.619390,15148.0,"2,148,350"
1299,26-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,0.620399,0.739818,0.494515,0.619451,49321.0,"2,153,440"
1300,25-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,0.839383,0.839383,0.527474,0.527474,69493.0,"2,902,860"
1301,24-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,1.180000,1.190000,0.418532,0.841903,109256.0,"4,082,000"
1302,23-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,1.150000,3.360000,0.623443,1.150000,115234.0,"3,945,250"
1303,22-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,1.120000,1.260000,0.696502,1.240000,101024.0,"3,833,460"
1304,21-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,1.050000,1.330000,1.020000,1.130000,83008.0,"3,590,320"
1305,20-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,0.941944,1.230000,0.894865,1.060000,93281.0,"3,196,180"
1306,19-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,1.040000,1.210000,0.851995,0.941647,60551.0,"3,497,850"
1307,18-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,1.180000,1.500000,0.841751,1.040000,160779.0,"3,960,320"
1308,17-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,0.406039,1.500000,0.402588,1.450000,178618.0,"1,360,260"
1309,16-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,0.325840,0.459833,0.310345,0.406976,28017.0,"1,085,280"
1310,15-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,0.331111,0.354461,0.219434,0.314865,21119.0,"1,092,120"
1311,14-Feb-14,NaN,NaN,NaN,NaN,NaN,NaN,0.213899,0.378883,0.213899,0.374024,15422.0,"702,537"

In [31]:
# Rename columns so that they are differentiated
merge_table.columns

merge_table = merge_table.rename(columns={"Open_x": "Bitcoin Open", "High_x": "Bitcoin High", "Low_x": "Bitcoin Low",
                                      "Close_x": "Bitcoin Close", "Volume_x": "Bitcoin Volume", "Market Cap_x": "Bitcoin Market Cap"})

merge_table = merge_table.rename(columns={"Open_y": "Dash Open", "High_y": "Dash High", "Low_y": "Dash Low",
                                      "Close_y": "Dash Close", "Volume_y": "Dash Volume", "Market Cap_y": "Dash Market Cap"})
merge_table.head()

,Date,Bitcoin Open,Bitcoin High,Bitcoin Low,Bitcoin Close,Bitcoin Volume,Bitcoin Market Cap,Dash Open,Dash High,Dash Low,Dash Close,Dash Volume,Dash Market Cap
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [32]:
# alternatively you can set your suffixes when the merge occurs
merge_table = merge_table.merge(
    bitcoin_df, dash_df, on="Date", suffixes=("_Bitcoin", "_Dash"))

C:\Users\Nader\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [43]:
# Collecting best open for Bitcoin and Dash
max_Bitcoin_open = merge_table["Open_Bitcoin"].max()
max_Bitcoin_open
max_Dash_open = merge_table["Open_Dash"].max()
max_Dash_open

# Collecting best close for Bitcoin and Dash


# Collecting the total volume for Bitcoin and Dash
Vol_Bitcoin = merge_table["Volume_Bitcoin"].sum()
Vol_Bitcoin
Vol_Dash = merge_table["Volume_Dash"].sum()
Vol_Dash

8557968059.0

In [59]:
# Creating a summary DataFrame using above values
Data = {"Bitcoin_Open_Max":[max_Bitcoin_open], 
        "Dash_Open_Max":[max_Dash_open],
        "Bitcoin_Volume":[Vol_Bitcoin],
        "Dash_Volume":[Vol_Dash]}
Data_df = pd.DataFrame(Data)
Data_df

   Bitcoin_Open_Max  Dash_Open_Max  Bitcoin_Volume   Dash_Volume
0            772.42         400.42    2.438305e+10  8.557968e+09