In [1]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [2]:
types_df = pd.read_csv("../Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [3]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [ ]:
# find the closest restaurant of each type to coordinates
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,