In [8]:
# Dependencies
import pandas as pd
import numpy as np

In [10]:
data_series = pd.Series(["UCLA","UIC","Governors State"])

In [11]:
data_series

0               UCLA
1                UIC
2    Governors State
dtype: object

In [17]:
data_frame = [{"State": "IL", "Population": 55, "Weather": 77},
             {"State":"IN","Population": 600, "Weather": 44}]

In [18]:
data_final = pd.DataFrame(data_frame)

In [19]:
data_final

   Population State  Weather
0          55    IL       77
1         600    IN       44

In [22]:
df = pd.DataFrame({"State":["IL","IN"],
                  "Weather":[66,45]})

In [23]:
df

  State  Weather
0    IL       66
1    IN       45